$height: 30px;

.progress {
    border: 1px solid red;
    background-color: white;
    height: $height;
    margin-bottom: 1em;
    padding: 4px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.progress__bar {
        background-color: red;
        height: $height;
}

.progress__bar--big {
    height: $height;
}