.app {
    font-family: sans-serif;
}

.inactive {
    color: gray;
    filter: blur(4px) grayscale(1);
    opacity: 30%;
}

.tiny {
    color: #ccc;
    font-size: 12px;
}

p,
h3 {
    margin-top: 4px;
    margin-bottom: 1em;
}