@import "base.scss";
@import "components.scss";


input {
    min-width: 60%;
    margin-left: 20px;
    font-size: 16px;
}

button {
    font-size: 16px;
    margin-left: 10px;
}


.inline-form {
    margin: 20px;
    border: 1px solid #888;
    background: #eee;
    padding: 16px;
}

.inline-form button {
    margin-left: 0px;
}

.inline-form-row {
    margin-bottom: 8px;
}
